@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Home/UserForm">Click here to register</a>.</p>
    <a href="#" onclick="alert('Hello World')">Click here</a>


</div>

<script>
    document.write('This goes in the web page here!<br />')

    console.log('In developer console')
</script>

<script src="~/js/loops.js"></script>