@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Home/UserForm">Click here to register</a>.</p>



</div>



<script src="~/js/loops.js"></script>