@model JavaScriptExample1.Models.User

@{
    ViewData["Title"] = "UserForm";
}

<h1>UserForm</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserForm" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label class="control-label" for="FirstName" id="fNameLabel">FirstName</label>
                <input class="form-control" type="text" id="FirstName" name="FirstName" value="" />
                <span class="text-danger field-validation-valid" id="fNameFeedback"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="LastName" id="lNameLabel">LastName</label>
                <input class="form-control" type="text" id="LastName" name="LastName" value="" />
                <span class="text-danger field-validation-valid" id="lNameFeedback"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Email">Email</label>
                <input class="form-control" type="text" id="Email" name="Email" value="" />
                <span class="text-danger field-validation-valid" id="EmailFeedback"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Password">Password</label>
                <input class="form-control" type="text" id="Password" name="Password" value="" />
                <span class="text-danger field-validation-valid" id="PasswordFeedback"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Password">Confirm Password</label>
                <input class="form-control" type="text" id="ConfirmPassword" name="ConfirmPassword" value="" />
                <span class="text-danger field-validation-valid" id="ConfirmPasswordFeedback"></span>
            </div>
            <div id="Feedback"></div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>

    function validateForm() {
        let result = validateFirstName() & validateLastName() & validateEmail() & validatePassword() & validateConfirmPassword();
        //debugger;
        if (!result) {
            document.querySelector("#Feedback").innerHTML = "<strong>Your form has errors. See above.</strong>";
            return false;
        }
        else {
            return true;
        }
    }

    function validateFirstName() {
        let name = document.querySelector("#FirstName").value;
        let warning = '';

        if (!name || name.length < 2) {
            warning += 'Name is empty or too short. ';
        }

        if (warning == '') {
            document.querySelector("#fNameLabel").classList.remove('text-danger');
            document.querySelector("#fNameFeedback").innerHTML = '';
            return true;
        } else {
            document.querySelector("#fNameFeedback").innerHTML = warning;
            document.querySelector("#fNameLabel").classList.add('text-danger');
            return false;
        }
    }

    function validateLastName() {
        let name = document.querySelector("#LastName").value;
        let warning = '';

        if (!name || name.length < 2) {
            warning += 'Name is empty or too short. ';
        }

        if (warning == '') {
            document.querySelector("#lNameFeedback").innerHTML = '';
            return true;
        } else {
            document.querySelector("#lNameFeedback").innerHTML = warning;

            return false;
        }
    }

    function validateEmail() {
        let email = document.querySelector("#Email").value;
        let warning = '';

        let regex = /(\w){2,}@@(\w){2,}\.(\w){2,}/;
        if (!regex.test(email)) {
            warning += 'Invalid email';
        }

        if (warning == '') {
            return true;
        }
        else {
            document.querySelector("#EmailFeedback").innerHTML = warning;

        }
    }

    function validatePassword() {
        let password = document.querySelector('#Password').value;
        let warning = '';
        let regex = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,}/

        if (!regex.test(password)) {
            warning += 'Invalid password. Must have at least 8 characters, one capital letter, one lower-case letter, one number, and one symbol';
        }
        if (warning == '') {
            return true;
        }
        else {
            document.querySelector("#PasswordFeedback").innerHTML = warning;

        }
    }

    function validateConfirmPassword() {
        let password = document.querySelector('#Password').value;
        let confirmPassword = document.querySelector('#ConfirmPassword').value;
        let warning = '';

        if (password != confirmPassword) {
            warning += 'Passwords do not match.';
        }
        if (warning == '') {
            return true;
        }
        else {
            document.querySelector("#ConfirmPasswordFeedback").innerHTML = warning;

        }
    }
</script>